@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Imperial+Script&family=Italiana&family=Lavishly+Yours&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

/* light- [#c2a488]  */
/* brown [#3c2f29] */

@theme{
    --color-brand: #3c2f29;
    --color-secondary-brand: #d7c0aa;
    --color-secondary-dark-brand: #c2a488;
    --color-more: #b18760;
    --font-play-fair: "Playfair Display", serif;
    --font-montserrat:  "Titillium Web", sans-serif;
}

body{
    @apply font-play-fair
}

.menu-img{
    @apply rounded 2xl:w-50 2xl:h-50
}

.menu-img-div{
    @apply rounded-2xl bg-center bg-cover brightness-75 max-sm:w-70 max-sm:h-50 shadow-lg shadow-black/30
     sm:w-64 sm:h-50
     lg:w-50
     2xl:w-60 2xl:h-60;
}

.menu-title{
    @apply font-semibold text-lg;
}

.menu-rs{
    @apply text-brand font-semibold text-sm lg:text-2xl;
}

.show-more-btn{
    @apply flex justify-center content-between space-x-1 bg-brand flex-nowrap text-white px-5 py-2 rounded-full *:flex-none *:ml-1 hover:brightness-125 items-center max-sm:text-sm max-sm:px-3 max-sm:py-1 *:last:w-5 *:last:h-5 *:last:mt-1 ;
}